.MandatoryFields {
    color : red;
}
.configErrrAlert {
    color: #f44336;
    
  }

.configLable {
    min-width: 100px;
    display: inline-block;
}

.configForm {
    max-width: 30rem;
    margin: 0 auto;
}

.configFormElement {
    margin: 10px;
}

.configSubmitBtn {
    margin: 10px;
}